body{
    background-image: url("../img/vinyl.png");
    background-repeat: no-repeat;
    background-color: #cccccc;
}

image{
    margin-left: 10%;
}

input[type=text], input[type=password], input[type=email] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 55px 5px 15px;
    border: 2px solid black;
    box-sizing: border-box;
    font-family: monospace;

}

button{
    background-color: lightslategrey;
    color: white;
    padding: 14px 20px;
    margin: 25px 0 5px 60%;
    border: black solid 3px;
    cursor: pointer;
    width: 150px;
    border-radius: 8px;
    font-family: monospace;
    font-size: 22px;
}

.close{
    width: 60px;
    text-align: center;
    margin-left: 335px;
    margin-top: 0;
}

.registration{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}