body{
    background-color: #cccccc;
}


hr {
    border-top: 2px solid lightslategrey;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 3px;

}

p{
    font-size: 24px;
    margin-top: 50px;
    margin-left: 5px;
    font-weight: bold;
}

.modal {
    background-color: whitesmoke;
    border: black solid 5px;
    border-radius: 5px;
    width: 350px;
    height: 435px;
    margin-left: 65%;
    margin-top: 6%;
    padding: 15px;
    position: absolute;
}

h2{
    text-align: center;
    text-decoration-line:underline;
}

.preference{
    background-color: whitesmoke;
    border-radius: 5px;
    border-style: double;
    width: 30%;
    height: 400px;
    margin-left: 50%;

    position: absolute;
    overflow: auto;

}

@media screen and (min-width: 600px) and (max-width: 1200px) {

    .modal{
        width: 310px;
        height: 440px;
        margin-left: 48%;
        margin-top: 0;
        padding: 15px;

    }
    
}